# Ensamble Learning com Random Forest
---
* N modelos
* A técnica de ensamble procura nelhores resultados testando uma diversidade de modelos.
* Ele escolhe o melhor modelo do teste

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.ensemble import RandomForestClassifier

## Dataset

In [5]:
df = pd.read_csv('datasets/Credit.csv')
df.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad

# Formato de matriz
---
* separando previsores (variáveis explicativas) da classe preditora (variável de interesse)

In [6]:
predict = df.iloc[:,0:20].values
class_ = df.iloc[:,20].values

In [7]:
# Transformação dos atributos categóricos em numéricos, passando o índice de cada coluna categórica
## Apenas os atrigutos categóricos, os numéricos permanecem
label_1 = LabelEncoder()
predict[:,0] = label_1.fit_transform(predict[:,0])

label_2 = LabelEncoder()
predict[:,2] = label_2.fit_transform(predict[:,2])
label_3 = LabelEncoder()
predict[:,3] = label_3.fit_transform(predict[:,3])

label_4 = LabelEncoder()
predict[:,5] = label_4.fit_transform(predict[:,5])
label_5 = LabelEncoder()
predict[:,6] = label_5.fit_transform(predict[:,6])

label_6 = LabelEncoder()
predict[:,8] = label_6.fit_transform(predict[:,8])
label_7 = LabelEncoder()
predict[:,9] = label_7.fit_transform(predict[:,9])

label_8 = LabelEncoder()
predict[:,11] = label_8.fit_transform(predict[:,11])

label_9 = LabelEncoder()
predict[:,13] = label_9.fit_transform(predict[:,13])
label_10 = LabelEncoder()
predict[:,14] = label_10.fit_transform(predict[:,14])

label_11 = LabelEncoder()
predict[:,16] = label_11.fit_transform(predict[:,16])

label_12 = LabelEncoder()
predict[:,18] = label_12.fit_transform(predict[:,18])
label_13 = LabelEncoder()
predict[:,19] = label_13.fit_transform(predict[:,19])

## Test/Train

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(predict, 
                                                    class_,
                                                    test_size=0.3,
                                                   random_state = 0)
X_test

array([[2, 36, 3, ..., 1, 1, 1],
       [0, 9, 3, ..., 2, 0, 0],
       [0, 18, 3, ..., 1, 1, 1],
       ...,
       [0, 24, 1, ..., 1, 0, 1],
       [1, 27, 4, ..., 1, 1, 1],
       [1, 12, 3, ..., 1, 0, 1]], dtype=object)

## Criação do modelo, treinamento, obtenção das previsões e acurácia

In [9]:
model = RandomForestClassifier(n_estimators=100)
model.fit(X_train, Y_train)

RandomForestClassifier()

In [10]:
model.estimators_[1]

DecisionTreeClassifier(max_features='auto', random_state=1767055113)

In [13]:
predict_ = model.predict(X_test)
conf = confusion_matrix(Y_test, predict_)
tx = accuracy_score(Y_test, predict_)
conf

array([[ 40,  46],
       [ 15, 199]], dtype=int64)

# Acurácia

In [12]:
tx

0.7966666666666666